*
{
  margin:0;
  padding:0;
}

html
{
  scroll-behavior: smooth;
}
body
{
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color:#926239;
  line-height:1.6;
}

#showcase
{
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
  position: relative;
  z-index: 3;
  background-color: #444c59;
}

#showcase h1
{
  font-size:50px;
  line-height:1.2;
  color: #d61d0c;
  position: relative;
  z-index: 3;
}

#showcase p
{
  font-size:30px;
  color: #fff;
  position: relative;
  z-index: 3;
}

#showcase .button
{
  font-size:20px;
  text-decoration:none;
  color:#fff;
  border:#000 1px solid;
  padding:10px 20px;
  border-radius:16px;
  margin-top:20px;
  position: relative;
  z-index: 3;
}

#showcase .button:hover
{
  background:#631a13;
  color:#fff;
  position: relative;
  z-index: 3;
}

#video
{
 position: absolute;
 z-index: 2;
 width: 100%;
height: auto;
margin-bottom: 80px;
}

#section-a
{
  padding:20px;
  background-image:url('https://wallpapercave.com/wp/XqRBXyO.jpg');
  background-size: cover;
  color:#000;
  text-align:center;
}

#section-b
{
  padding:20px;
  background: url(img/map2.jpg);
  background-size: cover;
  text-align:center;
}

#section-d
{
  font-size: 22px;
  background : url(img/map2.jpg);
  background-size: cover;
  text-align: center;
}

header {
  text-align: center;
  padding-top: 0px;
  margin-bottom: 0px;
}

h4 {
  color: white;
  font-size: 30px;
  padding-top: 0px;
}

h5 {
  font-size: 30px;
}

.table1{
  padding-top: 0px;
  width: 100%;
  text-align: center;
  padding-left: 0px;
}

.perso {
  padding: 20px;
  width: 33%;
  text-align: center;
}

.imageperso1 {
  width: 60%;
    border-radius: 5px;
 
}
.imageperso2 {
  width: 50%;
    border-radius: 5px;
 
}
.imageperso3 {
  width: 65%;
    border-radius: 5px;
 
}

.description {
  width: 440px;
  background : url(img/map.jpg);
  color: black;
  border-radius: 15px;
  text-align: center;
}

.bande {
  text-align: center;
  width: 800px;
  background : url(img/map.jpg);
  border: black solid 4pt;
  color: black;
}

#main
{
  position: relative;
  height: 100px;
  padding-top: 0px;
}

#section-b div
{
  padding: 20px;
  width: 50%
}

#section-b .box-4
{
  text-align:left;
  float: left;
}

#section-c
{
  display:flex;
}

#section-c div
{
  padding:20px;
  width: 50%;
}

#section-c .box-1, #section-c .box-3
{
  text-align: center;
  background:#000;
  color:#fff;
}

#section-c .box-2
{
  text-align: center;
  background : url(img/map2.jpg);
  color: #000;
}

.box-2 .gotoptbn
{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #000;
  bottom: 50px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

.imgcharengi
{
  width: 100%;
  border-radius: 10px;
}

.imgcharbers
{
  width: 100%;
  border-radius: 10px;
}
.imgcharember
{
  width: 60%;
  border-radius: 10px;
}
.imgcom
{
  border-radius: 5px;
}

.middle
{
  position: relative;
  top: 50%.
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn
{
  display: inline-block;
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

.btn i
{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}

.btn:hover i
{
  transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before
{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  transform: rotate(45deg);
  background: black;
  opacity: 0.5;
  left: -110%;
  top: 90%;
}

.btn:hover::before
{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa 
{
  0%
  {
    left: -110%;
    top: 90%;
  }
  50%
  {
    left: 10%;
    top: -30%;
  }
  100%
  {
    left: -10%;
    top: -10%;
  }
}

.tailleimage
{
  width: 100%;
}


.button
{
  font-size:20px;
  text-decoration:none;
  color:#fff;
  border:#000 1px solid;
  padding:10px 20px;
  border-radius:16px;
  margin-top:20px;
}

.button:hover
{
  background:#631a13;
  color:#fff;
}

.button2
{
  font-size:20px;
  text-decoration:none;
  color:#fff;
  border:#631a13 1px solid;
  padding:10px 20px;
  border-radius:16px;
  margin-top:20px;
}

.button2:hover
{
  background:black;
  color:#fff;
}